{% load staticfiles %}
{% load material_form %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Blog do Carlos Henrique</h2>
      <p>This is my blog.</p>
        <a class="waves-effect waves-light btn" href="new">Novo Post</a>
        <a class="waves-effect waves-light btn white black-text" onclick="javascript:history.go(-1);"><ii class="material-icons left">replay</i>Voltar</a>
  </div>
</body>
</html>
